{% extends "base.html" %}
<title>{% block title %} Homepage {% endblock %}</title>

{% block head %}
  <!-- styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'base.css')}}" />
{% endblock %}

{% block content %}
<div class="container" style="margin-top:200px">
  <form action="{{url_for('app.organization_search')}}" method="GET">
    <div class="input-group">
      <input type="text" class="form-control input-lg" name ="search-name" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-secondary" type="submit">
          <i class="glyphicon glyphicon-search"></i>
          <!-- This url for is a link to the organization_search function -->
        </button>
      </div>
    </div>
  </form>
</div>
<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-lg-4">
      <h2> Will have photo recomendation </h2>
    </div>
    <div class="col-lg-4">
      <h2> Will have recommendation </h2>
    </div>
    <div class="col-lg-4">
      <h2> Will have recommendation </h2>
    </div>
  </div>
</div>
{% endblock %}
