        body {
                margin: 0;
                padding: 0;
            }
        #fixedBar {
                height: 138px;
                color: #3072AD;
                background-color: #EAB010;
                margin: 0;
                text-align: center;
                position: absolute;
            }

        #logo {
                position: absolute;
            }
        #logo3 {
                height: 138px;
            }
            
        #home {
                text-align: right;
                position: relative;
                top: -100px;
                right: 10px;
                
            }

         #details {
                text-align: right;
                position: relative;
                top: -85px;
                right: 10px;
            }

        #title {
                font-size: 340%;
                font-family: "Times New Roman", Times, serif;
            } 
        #image {
                background-image: url("http://www.mtmary.edu/_images/_main/interior-clubs-orgs-026.jpg");
                height: 400px;
                width: 100%;
                background-size:100% 100%;
                background-repeat:no-repeat;
            }
        #info {
                width: 100%;
                height: 150px;
                text-align: center;
                background-color: #EAB010;
                font-size: 110%;
                margin: 0;
                padding: 32px 0 0 0;
            }
        table, th, td {
                border-style: outset;
                border-collapse: collapse;
                padding-left: 5px;
                padding-right: 5px;
                background-color: white;
            }
        th {
                padding: 5px;
                text-align: center;
                color: blue;
            }

     a:link {
        color: black; 
        text-decoration: none;
     }
            
     a:visited {
        text-decoration: none;
        color: black;
     }
    
     a:hover {
        color: #3072AD;
     }
        
     a:active {
        color: yellow;
     } 
