body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

#topBar {
    background-color: #3072AD;
    color: #E5A823;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
}

#menuBar {
    background-color: black;
    width: 100%;
    height: 60px;
}

.fixedBar {
    width: 1200px;
    margin: 0 auto;
}
#topMenu {
    float: left;
    color: #E5A823;
}
#topMenu ul {
    margin: 0;
}
#topMenu li {
    margin-top: 10px;
    list-style: none;
    float: left;
    font-weight: bold;
    border-right: 1px solid grey;
    padding: 10px 0 12px 0;
}
#search {
    float: left;
    padding: 18px 0 0 50px;
}

a.one:link, a.one:visited {
    color: #E5A823; 
    text-decoration: none;
    background-color: black;
    padding: 10px 30px 12px 30px;
}

a:hover, a:active {
    color: #E5A823;
    background-color: #3072AD;
}  

#separator { 
    height: 20px;
}

p.thick {
    color: #3072AD;
    font-family: "Times New Roman",Times,Serif;
    font-size: 1.5em;
    font-weight:bold;
    margin-left:10px;
    }
p {
    font-family: "Times New Roman",Times,Serif;
    font-size: 1em;
    font-weight: normal;
    }
#guideline {
    font-family: "Times New Roman",Times,Serif;
    font-size:1em;
    font-weight: normal;
    margin-left:0px;
    color: #3072AD;
    }



input#align, select {
            width: 25%;
            height: 5%;
            padding: 12px 10px;
            margin-left: 100px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
    } 
    input#align :hover {
            background-color: #ededf9;
    }
    #align {
            margin-left: 100px;
    }
    input[type=submit] {
            width: 10%;
            background-color: #4CAF50;
            color: white;
            padding: 12px 10px;
            margin-left: 100px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
    }
    input[type=submit]:hover {
            background-color: #45a049;
    }
 
    fieldset {
   		 display: block;
   		 margin-left: 150px;
   		 margin-right: 500px;
    	 padding-top: 0.35em;
   		 padding-bottom: 1em;
    	 padding-left: 1em;
  	     padding-right: 1em;
  	     border: 10px groove (internal value);
 	     border-radius: 10px;
         background-color: #EAB010
	}

