<!DOCTYPE html> 
<html lang="en">
<head>
    <title>Review Page</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'edit.css')}}">
</head>
<body>
    <div id="topBar">  SAN JOSE STATE UNIVERSITY  </div>

        <div id="menuBar">

            <div class="fixedBar">

                <div id="topMenu">

                    <ul>
                        <li><a class="one" href="http://127.0.0.1:5000/">Home</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/showall">Organizations</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/details">Org Details</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/reviews">Reviews</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/category">Categories</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/getinvolved/studentorgs/new/">Get Involved</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/">SJSU Website</a></li>
                    </ul>

                </div>

            </div>

        </div>

        <div id="separator"> </div>
    <fieldset>
        <a class="modify" href="{{url_for('app.review_edit', key=one_edit[0])}}">Edit</a>
        <a class="modify" href="{{url_for('app.review_delete',key=one_edit[0])}}">Delete</a>
        <table>

            <td><strong>{{one_edit[1]}} {{ one_edit[2]}}</strong> Reviewed: <strong>{{ one_edit[3] }}</strong></td>
            <td><br>{{ one_edit[4] }}</td>

        </table>
    </fieldset>


</body>


