<!DOCTYPE html>
<html>
    <head>
    
        <title> SJSU Clubs Homepage </title>
        
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'Homepage.css')}}">
        
    </head>


        
<body>
    
    <div id="firstBar">   
        
        <div id="SJSU_link1"> 
            <a href="http://www.sjsu.edu/"> SJSU Website </a> 
        </div>
        <div id="SJSU_link2">
            <a href="http://127.0.0.1:5000/showall"> List Of All Organizations</a>
        </div>
        <div id="SJSU_link3">
            <a href="http://127.0.0.1:5000/details"> Further Organization Details</a>
        </div>
        <div id="SJSU_link4">
            <a href="http://www.sjsu.edu/getinvolved/studentorgs/new/"> Get Involved </a>
        </div>
    
        <h1 id="title"> San Jose State </h1>
        <h1 id="title2"> Clubs & Organizations </h1>
        <h3> Welcome to San Jose State's Club/Organization Directory</h3>
        <p> A simple and hassle-free way to find organizations that interest you! </p>
        <div id="logo2div"> 
            <img src="http://www.books-not-bombs.com/content/images/schools/sjsu.png" id="logo2">
        </div>
    
    </div>
    
    <div id="mainImage"> </div>

    <div id="image4"> </div>
    
    <div id="names"> 
        <table>
            <tr> <th>Developers</th> </tr>
            <tr> <td>Carlos Quirarte</td> </tr>
            <tr> <td>Sean Scudellari</td> </tr>
            <tr> <td>Martin Tirtawisata</td> </tr>
        </table>
    </div>
</body>

