<!doctype html>
<html>
    <head>
    <title>SJSU</title>
        
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'Homepage.css')}}" />

        <style>
            
            
            
        </style>
    </head>
    <body>
        
        <div id="topBar">  SAN JOSE STATE UNIVERSITY </div>
        
        <div id="menuBar">
            
            <div class="fixedBar"> 
                
                <div id="topMenu">
                    
                    <ul>
                        <li><a class="one" href="http://127.0.0.1:5000/">Home</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/showall">Organizations</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/details">Org Details</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/reviews">Reviews</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/category">Categories</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/getinvolved/studentorgs/new/">Get Involved</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/">SJSU Website</a></li>
                    </ul>
                
                </div>
                
                <div id="search">
                    
                    <input type="text" placeholder="Search"/>
                
                </div>
            
            </div>
        
        </div>
    
        
        
    </body>
</html>
