<!doctype html>
<html>
    <head>
    <title>Organizations</title>
        
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'main_table.css')}}" />

        
    </head> 
    <body>
        
        <div id="topBar">  SAN JOSE STATE UNIVERSITY </div>
        
        <div id="menuBar">
            
            <div class="fixedBar"> 
                
                <div id="topMenu">
                     
                    <ul>
                        <li><a class="one" href="http://127.0.0.1:5000/">Home</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/showall">Organizations</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/details">Org Details</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/reviews">Reviews</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/category">Categories</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/getinvolved/studentorgs/new/">Get Involved</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/">SJSU Website</a></li>
                    </ul>
                
                </div>
            
            </div>
        
        </div>
        
        <div id="info">
            <p><font face="Georgia"><b>Welcome to the Spartan Organizations' Database! 
                        Your home for Fraternity & Sorority Life,
                        Student Organziations, Campus Programming & Leadership! </p>
            <p> With over 400 student organizations at SJSU, getting involved is the best
                        way to connect with campus life! </font></b></p>
            <br>
            <p><span> Click on the Organization name for more details </span></p>
        
            </div>

            <table style="width:100%">
              <caption><h1>San Jose State Clubs and Organizations</h1></caption>

              <tr>
                <th>Club ID</th>
                <th>Organization Name</th>
                <th>President</th>
                <th>Number Of Members</th>
                <th>Category</th>
                <th>Rating</th>
              </tr>

            
    
        
        
    </body>
</html>