<!DOCTYPE html>
<html>
    <head>
        
        <title>Main table</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'main_table.css')}}">
        
    </head>
    
    <body>
         <div id="fixedBar">

            <div id="logo">
                    <img src="http://www.books-not-bombs.com/content/images/schools/sjsu.png" id="logo3" />                 
             </div>

             <h1 id="title"><font face="Palatino Linotype"> Spartan Organizations</font></h1>

             
                    
        </div>

        <div id="image"> </div>


            <div id="info">
                    <p><font face="Georgia"><b>Welcome to Student Involvement! Your home for Fraternity & Sorority Life,
                        Student Organziations, Campus Programming & Leadership! </p>
                    <p> With over 400 student organizations at SJSU, getting involved is the best
                        way to connect with campus life! </font></b></p>
            </div>

            <table style="width:100%">
              <caption><h1>San Jose State Clubs and Organizations</h1></caption>

              <tr>
                <th>Club ID</th>
                <th>Organization Name</th>
                <th>President</th>
                <th>Location</th>
                <th>Category</th>
                <th>Rating</th>
              </tr>

            