<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>Edit Page</title>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'Review-edit.css')}}">
    </head>
<body style="background-color: beige;>

        <div id="topBar">  SAN JOSE STATE UNIVERSITY  </div>

        <div id="menuBar">

            <div class="fixedBar">

                <div id="topMenu">

                    <ul>
                        <li><a class="one" href="http://127.0.0.1:5000/">Home</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/showall">Organizations</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/details">Org Details</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/reviews">Reviews</a></li>
                        <li><a class="one" href="http://127.0.0.1:5000/category">Categories</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/getinvolved/studentorgs/new/">Get Involved</a></li>
                        <li><a class="one" href="http://www.sjsu.edu/">SJSU Website</a></li>
                    </ul>

                </div>

            </div>

    </div>

        <p class="thick"> Edit Your Review</p>
        <hr>
        <div>
            <form method="POST", action="{{ url_for('app.review_edit', key=review_id[0]) }}", role="form",autocomplete="on">
                <fieldset class="input">
                    <table>
                    {% for edit in form %}
                        <tr>
                        <td>{{ edit.label }}: &nbsp;</td><td>{{ edit }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <button id="submit" type="Submit">Submit</button>
                </fieldset>
            </form>
            <br><br><br><br>
        </div>
    </body>


