{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'reviewpage.css')}}" /> -->
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:50px">
  <form class="form-horizontal" method="POST">
    <div class="form-group">
      <label class="control-label col-lg-4" for="label">{{ form.first_name.label}}: </label>
      <div class="col-lg-4">
        <div role="input">{{ form.first_name()}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4" for="label">{{ form.last_name.label}}: </label>
      <div class="col-lg-4">
        <div role="input">{{ form.last_name()}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4" for="label">{{ form.org_name.label}}: </label>
      <div class="col-lg-4">
        <div role="input">{{ form.org_name()}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4" for="label">{{ form.user_review.label}}: </label>
      <div class="col-lg-4">
        <div role="input">{{ form.user_review}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <button style="margin-left:auto" id="submit" type="Submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<br>
<div class="container-fluid">
  <ol>
    {% for index in review_list %}
      <fieldset class="output">
        <li><strong>{{ index[0] }}. {{ index[1]}} {{index[2]}}</strong> Reviewed the club: <strong>{{ index[3] }}:</strong>
          <br>{{ index[4] }}<a>
           <tr>
           <a class="edit" href="http://127.0.0.1:5000/review_edit/{{ index[0] }}"> Edit </a>
           <a class="edit" href={{url_for('app.review_delete', key = index[0])}}> Delete </a>
           </tr>
        </li>
      </fieldset><br>
    {% endfor %}
  </ol>
</div>
{% endblock %}
