<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Page</title>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'Review-edit.css')}}">
    </head>
<body>

        <div id="topBar">  SAN JOSE STATE UNIVERSITY  </div>

        {% extends "navbar.html" %}

        <p class="thick"> Edit Your Review</p>
        <hr>
        <div>
            <form method="POST", action="{{ url_for('app.review_edit', key=review_id[0]) }}", role="form",autocomplete="on">
                <fieldset class="input">
                    <table>
                    {% for edit in form %}
                        <tr>
                        <td>{{ edit.label }}: </td><td>{{ edit }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <button id="submit" type="Submit">Submit</button>
                </fieldset>
            </form>
            <br><br><br><br>
        </div>
    </body>
