<!DOCTYPE html> 
<html>
    <head>
    
        <title> {{key}} </title>
        
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'show_one.css')}}">
        
    </head>
    
     <body>

            <div id="club_name">

            <div id="image2">
                <div id="list"><a href="http://127.0.0.1:5000/showall"> List </a> </div>
                <div id="home2"><a href="http://127.0.0.1:5000/"> Homepage </a> </div>
            </div>
    
    