<!DOCTYPE html> 
<html>
    <head>
    
        <title> List All </title>
        
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" type="text/css" href ="{{url_for('static',filename = 'sub_table.css')}}">
        
    </head>
<body>
                <div id="fixedBar">

                    <div id="logo">
                        <img src="http://www.books-not-bombs.com/content/images/schools/sjsu.png" id="logo3" />
                    </div>

                    <div class="clear"> </div>


                    <h1 id="title"><font face="Palatino Linotype"> Spartan Organizations</font></h1>

                    <body link="yellow"><div id="home"><a href="http://127.0.0.1:5000/">Homepage</a></div></body>

                    <body link="yellow"><div id="main"><a href="http://127.0.0.1:5000/showall">Main Organization Details</a></div></body>

                <div id="image"> </div>


                <div id="info">
                    <p><font face="Georgia"><b>Here, you will find further details regarding each club</font></b></p>
                </div>

            <table style="width:100%">
              <caption><h1>San Jose State Clubs and Organizations</h1></caption>

              <tr>
                <th>Club ID</th>
                <th>Organization Name</th>
                <th>Number Of Members</th>
                <th>Number Of Reviews</th>
                <th>Payment Required?</th>
                <th>Membership Cost</th>
              </tr>

            </div>