body { 
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-image: url("http://wallpapercave.com/wp/SuKN3nb.jpg");
    background-repeat: no-repeat;
}

#topBar {
    background-color: #3072AD; 
    color: #E5A823;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
}

#menuBar {
    background-color: black;
    width: 100%;
    height: 60px;
}

.fixedBar {
    width: 1100px;
    margin: 0 auto;
}

#topMenu {
    float: left;
    color: #E5A823;
}
#topMenu ul {
    margin: 0;
}
#topMenu li {
    margin-top: 10px;
    list-style: none;
    float: left;
    font-weight: bold;
    border-right: 1px solid grey;
    padding: 10px 0 12px 0;
}
#topMenu li:last-child {
    border-right: none;
}

#title {
    text-align: center;
    color: #E5A823;
    font-family: "Georgia", Georgia, serif;
}

#title2 {
    text-align: center;
    color: #00ad98;
    font-family: "Palatino Linotype", serif;
    font-size: 1.2em;
}

#developers {
    text-align: center;
    color: #00ad0d;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.0em;
    float: right;
} 

.slideshow {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    left: 270px;
}

.mySlides {
    height: 600px;
    width: 900px;
}


a:link, a:visited {
    color: #E5A823; 
    text-decoration: none;
    background-color: black;
    padding: 10px 35px 12px 35px;
}

a:hover, a:active {
    color: #E5A823;
    background-color: #3072AD;
}    


