 body { 
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: #FAFAFA;
}

#topBar {
    background-color: #3072AD;
    color: #E5A823;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
}

#menuBar {
    background-color: black;
    width: 100%;
    height: 60px;
}

.fixedBar {
    width: 1100px;
    margin: 0 auto;
}
#topMenu {
    float: left;
    color: #E5A823;
}
#topMenu ul {
    margin: 0;
}
#topMenu li {
    margin-top: 10px;
    list-style: none;
    float: left;
    font-weight: bold;
    border-right: 1px solid grey;
    padding: 10px 0 12px 0;
}

#topMenu li:last-child {
    border-right: none;
}
a.one:link, a.one:visited {
    color: #E5A823; 
    text-decoration: none;
    background-color: black;
    padding: 10px 35px 12px 35px;
}

a.one:hover, a.one:active {
    color: #E5A823;
    background-color: #3072AD;
}    

a.two:link, a.two:visited {
    color: black; 
    text-decoration: underline;
    padding: 10px 30px 12px 30px;
}

a.two:hover, a.two:active {
    color: #3072AD;
}  

#info {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #EAB010;
    font-size: 110%;
    margin: 0;
    padding: 32px 0 0 0;
}

span {
    position: relative;
    bottom: 20px;
}

table, th, td {
    border-style: outset;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FAFAFA;
    }
th {
    padding: 5px;
    text-align: center;
    color: blue;
    }

    